header {
    background-color: var(--pico-primary-background);
    max-width: 100% !important;
    display: flex;
    padding-left: 100px !important;
    position: absolute;
    height: 4.4rem;
    z-index: -20;
}

@media (max-width: 420px) {
    #title {
        font-size: 7vw;
    }
}

button {
    margin-bottom: 5px;
}


body {
    --pico-primary-background: #f6ec85;
}

main {
    min-height: calc(100vh - 205px);
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 auto;
}

@media (min-width: 1280px) {
    main, footer {
        max-width: 1200px !important;
    }
}

.grey-button {
    margin: 0;
    margin-right: 3px;
}


.grey-button button {
    background-color: var(--pico-secondary-focus);
    border-color: var(--pico-secondary-focus);
}

.grey-button button:hover {
    background-color: var(--pico-secondary-underline);
}

.horiz-button-container {
    display: flex;
}

.big-button button , input.big-button {
    width: calc(70% - 5px);
}
.small-button button  {
    width: calc(30% - 5px);
}

@media only screen and (max-width: 768px) {
    .big-button button, input.big-button {
        width: 100%;
    }
    .small-button button {
        width: 100%;
    }
}

.selected { /* Form radio button colour changing*/
    background-color: var(--pico-primary-background) !important;
}

#radio-div {
    display: flex;
    flex-direction: row;
}

#radio-div label {
    margin: 5px 5px 5px 0;
    padding: 0.9rem;
    background-color: var(--pico-secondary-focus);
    border-radius: 5px;
    border: aliceblue !important;
}

#radio-div label:hover {
    background-color: var(--pico-secondary-underline);
}

#radio-div label input:checked + main .radio-div label{
    background-color: var(--pico-primary-background);
}

#delete-button {
    color: white;
    background-color:#d13232;
    border-color: #b30505;
}
#delete-button:hover {
    background-color: #c70000;
}

footer {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

}
